<connectionStrings>

  <add name="DefaultConnection" connectionString="Data Source=NICKLAUS\SQL2019;Initial Catalog=Higgs.Mbale;User Id=sa;Password=niecshenz2020;" providerName="System.Data.SqlClient" />

  <add name="MbaleEntities" connectionString="metadata=res://*/Models.Model.csdl|res://*/Models.Model.ssdl|res://*/Models.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=NICKLAUS\SQL2019;initial catalog=Higgs.Mbale;user id=sa;password=niecshenz2020;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>
